body{
    background-image: url('..//img/Casino-Games-by-Michael-Blann-GettyImages-200325572-001-5c26042d46e0fb00017bb4b3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body{
align-content: center;

}